 <span>
     <div class="row">
         <div class="col-xs-1 text-center">
         </div>
         <div class="col-xs-3 text-center arrowspace">
             <a ng-click="incrementHours()" class="btn btn-link"><i class="glyphicon glyphicon-chevron-up"></i></a>
         </div>
         <div class="col-xs-3 text-center arrowspace">
             <a ng-click="incrementMinutes()" class="btn btn-link"><i class="glyphicon glyphicon-chevron-up"></i></a>
         </div>
         <div class="col-xs-3 spacer"> </div>
     </div>
     <div class="row">
         <div class="col-xs-1 text-center spacer">
         </div>
         <div class="col-xs-3 spacer">
             <div class="form-group" ng-class="{'has-error': invalidHours}" style="margin-bottom: 0px">
                <select ng-model="hours" ng-change="updateHours()" class="form-control text-center" ng-mousewheel="incrementHours()" ng-readonly="readonlyInput" maxlength="2">
                    <option value="01">1</option><option value="02">2</option><option value="03">3</option><option value="04">4</option><option value="05">5</option><option value="06">6</option><option value="07">7</option><option value="08">8</option><option value="09">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
                </select>
                <div>{{hours}}</div>
             </div>
         </div>
         <div class="col-xs-3 spacer">
             <div class="form-group" ng-class="{'has-error': invalidMinutes}" style="margin-bottom: 0px">
                 <span style='position:absolute;margin-left:-25px'>:</span>
                 <select ng-model="minutes" ng-change="updateMinutes()" class="form-control text-center" ng-mousewheel="incrementMinutes()" ng-readonly="readonlyInput" maxlength="2"> 
                 <option value="00">00</option><option value="30">30</option></select>
                 <div>{{minutes}}</div>
             </div>
         </div>
         <div class="col-xs-3 spacer" style="margin-left:-20px">
             <button style="vertical-align:top" ng-click="toggleMeridian()" class="btn btn-default text-center" ng-show="showMeridian">{{meridian}}</button>
         </div>
     </div>
     <div class="row">
         <div class="col-xs-1 text-center ">
         </div>
         <div class="col-xs-3 text-center arrowspace">
             <a ng-click="decrementHours()" class="btn btn-link"><i class="glyphicon glyphicon-chevron-down"></i></a>
         </div>
         <div class="col-xs-3 text-center arrowspace">
             <a ng-click="decrementMinutes()" class="btn btn-link"><i class="glyphicon glyphicon-chevron-down"></i></a>
         </div>
         <div class="col-xs-3"> </div>
     </div>
</span>