<div data-ng-controller="CategoriesController" class="cat-page" ng-init="findCategories()">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-lg-12 result-pane">

        <div class="headbar">
          <div class="back">
            <a href="#/?time={{ unixtime }}">
              Back
            </a>
          </div>

          <div class="title">
            {{ categories[category].title }}
          </div>
        </div>

        <div class="result-wrap"> 
          <a href="#/{{ categories[category].link }}/{{ subcategory.link }}?time={{ unixtime }}" ng-repeat="subcategory in categories[category].subcategories">
            <div class="result">
              <div class="wrap">

                <div class="left-hold">
                  <div class="img-hold">
                    <img src="{{ subcategory.img }}" />
                  </div>
                </div>

                <div class="con-hold">
                  <div class="title">
                    {{ subcategory.title }}
                  </div>
                  
                  <div class="body">
                    Try out the latest gourmet food in Berkeley. American, Chinese and Indian cuisines.
                  </div>
                </div>

              </div>
            </div>
          </a>

        </div>
        
      </div>

    </div>

  </div> <!-- /container -->
</div>
