<div data-ng-controller="EventsController" ng-init="findByCategory()" class="list-page">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-12 result-pane">

          <div class="headbar">
            <div class="back">
              <a href="/?time={{unixtime}}">
                Back
              </a>
            </div>

            <div class="title">
              {{ category }}
            </div>
          </div>



          <div class="result-wrap">

            <div data-ng-show="loaderVisible" class="bubblingG loader-push-top">
              <span id="bubblingG_1">
              </span>
              <span id="bubblingG_2">
              </span>
              <span id="bubblingG_3">
              </span>
            </div>

            <a href="/categories/{{ category }}/{{ event._id }}?time={{ unixtime }}" ng-repeat="event in events">

              <div class="res">
                <div class="wrapper">
                  <div class="thumb">
                    <img src="{{ event.image_url }}" />
                  </div>
                  <div class="info">
                    <div class="stack">
                      <div style="color:white" class="title">
                        {{ event.title }}
                      </div>
                    </div>
                    <div class="stack">
                      <div class="desc">
                        {{ event.description | characters:110 }}
                      </div>
                    </div>
                    <div class="stack">
                      <div style="color:white" class="dist">
                        <img src="<%= asset_path "compass.png" %>" height="12px" />
                        {{ event.distance.toFixed(1) }} mi
                      </div>
                      <div style="color:white" class="time">
                        {{ event | relevantTimeRangeString: unixtime | stripSeconds }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="end"></div>
              </div>

            </a>

            <div class="end"></div>
          </div>








          <!-- /result wrap -->
          </div>

          
          
        </div>

      </div>



    </div> <!-- /container -->

</div>