<div data-ng-controller="FacebookController" data-ng-init="">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          
          <button ng-click="logStatus()">Log status</button>
          <br><br><button ng-click="sendMessage('iframe')">Send iframe Message</button>
          <br><br><button ng-click="sendMessage('popup')">Send popup Message</button>
          <br><br><button ng-click="sendMessage('dialog')">Send dialog Message</button>
          <br><br><button ng-click="sendMessage('page')">Send page Message</button>
          <br><br><button ng-click="sendMessage('touch')">Send touch Message</button>
          <br><br><button ng-click="sendMessage('async')">Send async Message</button>
          <br><br><button ng-click="sendMessage('hidden')">Send hidden Message</button>
          <br><br><button ng-click="sendMessage('none')">Send none Message</button>
          <br><br><input ng-model="friendsearch.name">
          <div ng-repeat="friend in friends.data | filter:friendsearch">
            {{ friend.name }}
            <img src="http://graph.facebook.com/{{friend.id}}/picture">
          </div>
          
          <div>
            <div class="alert alert-info" data-ng-show="salutation">Hello, {{user.name}}</div>
            <div class="alert alert-warning" data-ng-show="byebye">Bye bye :'(</div>
          </div>
          
          <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>
          <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>
          
          <div>
            <debug val="user"></debug>
          </div>
          
          <button ng-click="friends()">Friends</button>

          <div>
            <debug val="friends"></debug>
          </div>

        </div>
      </div>
    </div>
</div>