<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-12 filter-heading">

          <div class="selector-wrap">
            <div class="reg">It's</div>

            <div class="pop">
              <div onclick="$(this).parent().find('.menu-select').fadeIn(100);">
                Sunday Afternoon&nbsp;<i class="arr">&#9660;</i>
              </div>

              <div class="menu-select dt">
                <div class="savebox">
                  <button class="btn btn-primary btn-large" onclick="$(this).parent().parent().fadeOut(100);">
                    Save changes
                  </button>
                </div>

                <div class="selhold">

                  <div class="days">
                    <ul>
                      <li>
                        Sunday
                      </li>
                      <li>
                        Monday
                      </li>
                      <li class="selected">
                        Tuesday
                      </li>
                      <li>
                        Wednesday
                      </li>
                      <li>
                        Thursday
                      </li>
                      <li>
                        Friday
                      </li>
                      <li>
                        Saturday
                      </li>
                    </ul>
                  </div>

                  <div class="times">
                    <ul>
                      <li class="selected">
                        Morning
                      </li>
                      <li>
                        Late Morning
                      </li>
                      <li>
                        Afternoon
                      </li>
                      <li>
                        Evening
                      </li>
                      <li>
                        Night
                      </li>
                      <li>
                        Late Night
                      </li>
                    </ul>
                  </div>

                </div> <!-- /selhold -->



              </div>


            </div>
          </div>

          <div class="selector-wrap">
            <div class="reg">And I'm looking for a</div>

            <div class="pop">

              <div onclick="$(this).parent().find('.menu-select').fadeIn(100);">
                Group Activity&nbsp;<i class="arr">&#9660;</i>
              </div>

              <div class="menu-select grp">
                <div class="savebox">
                  <button class="btn btn-primary btn-large" onclick="$(this).parent().parent().fadeOut(100);">
                    Save changes
                  </button>
                </div>

                <div class="selhold">

                  <div class="groups">
                    <ul>
                      <li class="selected">
                        Group Activity
                      </li>
                      <li>
                        Solo Activity
                      </li>
                      <li>
                        Romantic Date
                      </li>
                    </ul>
                  </div>


                </div> <!-- /selhold -->



              </div>

            </div>
          </div>


          <div class="selector-wrap" style="margin-top:30px">
            <span class="reg">Find activities for</span>
          </div>
          
        </div>

      </div>


      <div class="row">
        <div class="col-lg-12 squares-list">

          <a href="/categories">
            <div class="square">

            </div>

            <div class="square">
              
            </div>

            <div class="square">
              
            </div>

            <div class="square">

            </div>

            <div class="square">
              
            </div>

            <div class="square">
              
            </div>
          </a>
          
        </div>

      </div>


    </div> <!-- /container -->