<div data-ng-controller="EventsController" ng-init="findOne()" class="page-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mainpage">

          <div class="headbar">
            <div class="back">
              <a href="/{{ category }}/{{ activity }}?time={{ unixtime }}">
                Back
              </a>
            </div>

            <div class="title">
              {{ event.title }}
            </div>
          </div>


          <div class="prof-info">
            <div class="covimg" style="background:url({{ event.image_url }});background-size: cover; background-position:center; ">
              <div class="time">
                {{ event | relevantTimeRangeString: unixtime | stripSeconds }}
              </div>
            </div>

            <div class="wraps">

              <div class="map-section">
                <div class="gradient">
                  <div class="address">
                    {{ event.address }}
                  </div>
                  <div class="dist">
                    <img src="<%= asset_path "compass.png" %>" style="height:10px" /> {{ event.distance.toFixed(2) }} mi<br />
                    <a href="{{ event.map_url }}" target="_blank">Go to map</a>
                  </div>
                </div>
              </div>



              <div class="desc">
                {{ event.description }}
              </div>

            </div>
<%#
            <!-- <div class="foxhole">

<h3>Highlight Reviews</h3>
<div class="review">
<div class="prof-img">
<img src="https://si0.twimg.com/profile_images/378800000516829145/5b5911a875f1d02a3978dbd577edbc55_bigger.jpeg" />
</div>
<div class="rev-data">
<div class="title">
Great basketball courts, watch for little kids
</div>
<div class="rating">
<span class="starred">&#x2605;&#x2605;&#x2605;&#x2605;</span>&#x2605; <span class="by">- reviewed by Eric S</span>
</div>

<div class="rev-text">
Almost pegged a kid in the dome while playing basketball; seriously watch out for those little fuckers.
</div>
</div>
</div>

<div class="review">
<div class="prof-img">
<img src="https://si0.twimg.com/profile_images/378800000516829145/5b5911a875f1d02a3978dbd577edbc55_bigger.jpeg" />
</div>
<div class="rev-data">
<div class="title">
Great basketball courts, watch for little kids
</div>
<div class="rating">
<span class="starred">&#x2605;&#x2605;&#x2605;&#x2605;</span>&#x2605; <span class="by">- reviewed by Eric S</span>
</div>

<div class="rev-text">
Almost pegged a kid in the dome while playing basketball; seriously watch out for those little fuckers.
</div>
</div>
</div>

<div class="review">
<div class="prof-img">
<img src="https://si0.twimg.com/profile_images/378800000516829145/5b5911a875f1d02a3978dbd577edbc55_bigger.jpeg" />
</div>
<div class="rev-data">
<div class="title">
Great basketball courts, watch for little kids
</div>
<div class="rating">
<span class="starred">&#x2605;&#x2605;&#x2605;&#x2605;</span>&#x2605; <span class="by">- reviewed by Eric S</span>
</div>

<div class="rev-text">
Almost pegged a kid in the dome while playing basketball; seriously watch out for those little fuckers.
</div>
</div>
</div>

</div> -->
          
          <!-- prof-info -->
%>
          </div>


        </div>

      </div>



    </div> <!-- /container -->
</div>