<!DOCTYPE html>
<html>
<head>
  <title>Outhouse</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="apple-touch-icon" href="http://s3.amazonaws.com/static.getouthouse.com/assets/icons/AppIcon60x60@2x-708ca4a09ab43e576e2087afd4a6b590.png">
  <link rel="apple-touch-icon" sizes="76x76" href="http://s3.amazonaws.com/static.getouthouse.com/assets/icons/AppIcon76x76-6a2fe547a30f14944292c209cfae48d3.png">
  <link rel="apple-touch-icon" sizes="120x120" href="http://s3.amazonaws.com/static.getouthouse.com/assets/icons/AppIcon60x60@2x-708ca4a09ab43e576e2087afd4a6b590.png">
  <link rel="apple-touch-icon" sizes="152x152" href="http://s3.amazonaws.com/static.getouthouse.com/assets/icons/AppIcon76x76@2x-af61113ce82c104c6a3067b7e6246079.png">
  <link rel="shortcut icon" href="http://s3.amazonaws.com/static.getouthouse.com/assets/icons/AppIcon29x29@2x-ecc4f4ef8ed782b2728f616d73871243.png">

  <link rel="apple-touch-startup-image" href="http://s3.amazonaws.com/static.getouthouse.com/assets/loading/iphone-bbb6891200f49b4a119f83205f979ad5.png" />
	<link rel="apple-touch-startup-image" href="http://s3.amazonaws.com/static.getouthouse.com/assets/loading/iphone5-add668eb7f7e38a0ecd47822bd3ff2f0.png" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" />
  <link href="http://s3.amazonaws.com/static.getouthouse.com/stylesheets/application.css" media="all" rel="stylesheet" />
  
</head>

<body style="padding:0 0 20px 0 ;height:100%" class="selector-page" ng-app="Outhouse">

<div id="fb-root"></div>

<div class="bkg"></div>


<div style="position:fixed; width:100%;height:100%;background-color:black; opacity:{{opacity.val}};"></div>


<div class="installer">
	<div style="font-size:32px;font-weight:bolder;text-align:center">Get Outhouse</div>

	<div style="font-size:24px;text-align:center">iPhone App</div>

	<img class="appicon" src="http://s3.amazonaws.com/static.getouthouse.com/assets/icons/AppIcon76x76@2x-af61113ce82c104c6a3067b7e6246079.png" />

	<div style="margin-top:30px;font-size:16px">
		Install by tapping the <img class="appicon" src="http://s3.amazonaws.com/static.getouthouse.com/assets/popout-b103a5a88a57ac218245210c90784dfd.png" style="margin-top:-10px" /> button,<br />and then tap "Add to Home Screen"
	</div>


	<div style="margin-top:50px;font-size:11px">
		<a href="#" onclick="$(this).closest('.installer').remove();">or continue to the web version</a>
	</div>
</div>

  <div class="container" style="padding:0px;" ng-view=""></div>



</body>
<!-- <script src="http://rawgithub.com/Ciul/angular-facebook/master/lib/angular-facebook.js"></script> -->
<script src="http://s3.amazonaws.com/static.getouthouse.com/assets/application-15ff5694aa5b54ecc4924226ba7709b4.js"></script>

<script type="text/ng-template" id="main.html">


<style>
.selector-page .tpick select {
    padding: 0 0 0 10px;
    margin-left:20px;
    margin-right:10px;
}

.selector-page .tpick button{
  margin-left:10px;
  margin-top:-2px;
}

</style>


<div data-ng-controller="CategoriesController" ng-init="findCategories()" style="padding:20px;" class="container">
  <div style="opacity:{{1}};padding:0px">
      <!-- Example row of columns -->

      <div class="row" style="margin-right:10px; margin-left:-15px; margin-top:-5px">
        <div class="col-lg-12 filter-heading">

          <div class="selector-wrap">
            <div class="reg">
              The time is
            </div>
          </div>

          <div class="selector-wrap" style="margin:0px;width:100%">
            <div ng-model="mytime" ng-change="changed()" class="row" style="display:inline-block;">
              <div class="row tpick" style="margin:0 auto">
              <!-- Jake -->
                  <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
              </div>
            </div>

<!--             <div class="reg" ng-hide="datevisible" ng-click="datevisible=!datevisible">
              +
            </div>
            <div class="reg" ng-show="datevisible" ng-click="datevisible=!datevisible">
              -
            </div>
            <input ng-show="datevisible" value="{{ datestr() }}" type="date" ng-model="date"/> -->
          </div>


          <div class="selector-wrap" style="margin-top:-10px">
            <span class="reg">I'm in the mood for</span>
          </div>
          
        </div>

      </div>



      <div class="row">
        <div class="col-lg-12 squares-list">
          <ul style="list-style-type:none; padding:0; margin: 0">
            <li style="float:left;" ng-repeat="category in categories">
              <a href="{{ category.title }}?time={{unixtime}}">
                <div class="square">

                    <div class="le-icon">
                      <img src="{{ category.img }}" />
                    </div>

                    <div class="le-text">
                      <span>{{ category.val }}</span>
                    </div>

                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>


  </div>
</div>






<div class="bottombox">
  <div class="logo">
    outhouse
  </div>

  <div class="invite">
    <a href="#">Invite friends (10 left)</a>
  </div>

</div>

</script>
<script type="text/ng-template" id="directives/timepicker.html">


 <span>
     <div class="row">
         <div class="col-xs-1 text-center">
         </div>
         <div class="col-xs-3 text-center arrowspace">
             <a ng-click="incrementHours()" class="btn btn-link"><i class="glyphicon glyphicon-chevron-up"></i></a>
         </div>
         <div class="col-xs-3 text-center arrowspace">
             <a ng-click="incrementMinutes()" class="btn btn-link"><i class="glyphicon glyphicon-chevron-up"></i></a>
         </div>
         <div class="col-xs-3 spacer"> </div>
     </div>
     <div class="row">
         <div class="col-xs-1 text-center spacer">
         </div>
         <div class="col-xs-3 spacer">
             <div class="form-group" ng-class="{'has-error': invalidHours}" style="margin-bottom: 0px">
                <select ng-model="hours" ng-change="updateHours()" class="form-control text-center" ng-mousewheel="incrementHours()" ng-readonly="readonlyInput" maxlength="2">
                    <option value="01">1</option><option value="02">2</option><option value="03">3</option><option value="04">4</option><option value="05">5</option><option value="06">6</option><option value="07">7</option><option value="08">8</option><option value="09">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
                </select>
                <div>{{hours}}</div>
             </div>
         </div>
         <div class="col-xs-3 spacer">
             <div class="form-group" ng-class="{'has-error': invalidMinutes}" style="margin-bottom: 0px">
                 <span style='position:absolute;margin-left:-25px'>:</span>
                 <select ng-model="minutes" ng-change="updateMinutes()" class="form-control text-center" ng-mousewheel="incrementMinutes()" ng-readonly="readonlyInput" maxlength="2"> 
                 <option value="00">00</option><option value="30">30</option></select>
                 <div>{{minutes}}</div>
             </div>
         </div>
         <div class="col-xs-3 spacer" style="margin-left:-20px">
             <button style="vertical-align:top" ng-click="toggleMeridian()" class="btn btn-default text-center" ng-show="showMeridian">{{meridian}}</button>
         </div>
     </div>
     <div class="row">
         <div class="col-xs-1 text-center ">
         </div>
         <div class="col-xs-3 text-center arrowspace">
             <a ng-click="decrementHours()" class="btn btn-link"><i class="glyphicon glyphicon-chevron-down"></i></a>
         </div>
         <div class="col-xs-3 text-center arrowspace">
             <a ng-click="decrementMinutes()" class="btn btn-link"><i class="glyphicon glyphicon-chevron-down"></i></a>
         </div>
         <div class="col-xs-3"> </div>
     </div>
</span>
</script>
<script type="text/ng-template" id="page.html">


<div data-ng-controller="EventsController" ng-init="findOne()" class="page-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mainpage">

          <div class="headbar">
            <div class="back">
              <a href="/{{ category }}/{{ activity }}?time={{ unixtime }}">
                Back
              </a>
            </div>

            <div class="title">
              {{ event.title }}
            </div>
          </div>


          <div class="prof-info">
            <div class="covimg" style="background:url({{ event.image_url }});background-size: cover; background-position:center; ">
              <div class="time">
                {{ event | relevantTimeRangeString: unixtime | stripSeconds }}
              </div>
            </div>

            <div class="wraps">

              <div class="map-section">
                <div class="gradient">
                  <div class="address">
                    {{ event.address }}
                  </div>
                  <div class="dist">
                    <img src="http://s3.amazonaws.com/static.getouthouse.com/assets/compass-7cfcc9c123995e8fd8af09c5c4625b87.png" style="height:10px" /> {{ event.distance.toFixed(2) }} mi<br />
                    <a href="{{ event.map_url }}" target="_blank">Go to map</a>
                  </div>
                </div>
              </div>



              <div class="desc">
                {{ event.description }}
              </div>

            </div>
          </div>


        </div>

      </div>



    </div> <!-- /container -->
</div>
</script>
<script type="text/ng-template" id="subcategories.html">


<div data-ng-controller="CategoriesController" ng-init="findCategories()" style="padding:20px;" class="container">
  <div style="opacity:{{1}};padding:0px">
    <div class="row">
      <div class="headbar">
        <div class="back">
          <a href="/?time={{unixtime}}">
            Back
          </a>
        </div>

        <div class="title">
          {{ category }}
        </div>
      </div>
      <div class="col-lg-12 squares-list">
        <ul style="list-style-type:none; padding:0; margin: 0">
          <li style="float:left;" ng-repeat="category in categories">
            <a href="{{cat}}/{{ category.title }}?time={{unixtime}}">
              <div class="square">

                <div class="le-icon">
                  <img src="{{ category.img }}" />
                </div>

                <div class="le-text">
                  <span>{{ category.val }}</span>
                </div>

              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

</script>
<script type="text/ng-template" id="list.html">


<div data-ng-controller="EventsController" ng-init="findByCategory()" class="list-page">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-12 result-pane">

          <div class="headbar">
            <div class="back">
              <a href="/{{ category }}?time={{unixtime}}">
                Back
              </a>
            </div>

            <div class="title">
              {{ activity }}
            </div>
          </div>



          <div class="result-wrap">

            <div data-ng-show="loaderVisible" class="bubblingG loader-push-top">
              <span id="bubblingG_1">
              </span>
              <span id="bubblingG_2">
              </span>
              <span id="bubblingG_3">
              </span>
            </div>

            <a href="/{{ category }}/{{ activity }}/{{ event._id }}?time={{ unixtime }}" ng-repeat="event in events">

              <div class="res">
                <div class="wrapper">
                  <div class="thumb">
                    <img src="{{ event.image_url }}" />
                  </div>
                  <div class="info">
                    <div class="stack">
                      <div style="color:white" class="title">
                        {{ event.title }}
                      </div>
                    </div>
                    <div class="stack">
                      <div class="desc">
                        {{ event.description | characters:110 }}
                      </div>
                    </div>
                    <div class="stack">
                      <div style="color:white" class="dist">
                        <img src="http://s3.amazonaws.com/static.getouthouse.com/assets/compass-7cfcc9c123995e8fd8af09c5c4625b87.png" height="12px" />
                        {{ event.distance.toFixed(1) }} mi
                      </div>
                      <div style="color:white" class="time">
                        {{ event | relevantTimeRangeString: unixtime | stripSeconds }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="end"></div>
              </div>

            </a>

            <div class="end"></div>
          </div>








          <!-- /result wrap -->
          </div>

          
          
        </div>

      </div>



    </div> <!-- /container -->

</div>
</script>
<script type="text/ng-template" id="categories.html">


<div data-ng-controller="CategoriesController" class="cat-page" ng-init="findCategories()">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-lg-12 result-pane">

        <div class="headbar">
          <div class="back">
            <a href="/?time={{ unixtime }}">
              Back
            </a>
          </div>

          <div class="title">
            Getting Outside
          </div>
        </div>

        <div class="result-wrap">

          <a href="/{{ $parent.category }}/{{ activity.title }}?time={{ unixtime }}" ng-repeat="activity in categories">
            <div class="result">
              <div class="wrap">
                <img src="{{ activity.img }}" />
                {{ activity.val }}
              </div>
            </div>
          </a>

        </div>
        
      </div>

    </div>

  </div> <!-- /container -->
</div>

</script>
<script type="text/ng-template" id="login.html">


<div data-ng-controller="FacebookController" data-ng-init="">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          
          <button ng-click="logStatus()">Log status</button>
          <br><br><button ng-click="sendMessage('iframe')">Send iframe Message</button>
          <br><br><button ng-click="sendMessage('popup')">Send popup Message</button>
          <br><br><button ng-click="sendMessage('dialog')">Send dialog Message</button>
          <br><br><button ng-click="sendMessage('page')">Send page Message</button>
          <br><br><button ng-click="sendMessage('touch')">Send touch Message</button>
          <br><br><button ng-click="sendMessage('async')">Send async Message</button>
          <br><br><button ng-click="sendMessage('hidden')">Send hidden Message</button>
          <br><br><button ng-click="sendMessage('none')">Send none Message</button>
          <a href="http://www.facebook.com/dialog/send?app_id=180973258759990&name=Get%20Outhouse&link=http://getouthouse.herokuapp.com&redirect_uri=http://getouthouse.herokuapp.com/login">Facebook link</a>
          <br><br><input ng-model="friendsearch.name">
          <div ng-repeat="friend in friends.data | filter:friendsearch">
            {{ friend.name }}
            <img src="http://graph.facebook.com/{{friend.id}}/picture">
          </div>
          
          <div>
            <div class="alert alert-info" data-ng-show="salutation">Hello, {{user.name}}</div>
            <div class="alert alert-warning" data-ng-show="byebye">Bye bye :'(</div>
          </div>
          
          <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>
          <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>
          
          <div>
            <debug val="user"></debug>
          </div>
          
          <button ng-click="friends()">Friends</button>

          <div>
            <debug val="friends"></debug>
          </div>

        </div>
      </div>
    </div>
</div>
</script>
</html>