<!DOCTYPE html>
<html>
<head>
  <title>Outhouse</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="apple-touch-icon" href="http://s3.amazonaws.com/static.getouthouse.com/assets/icons/AppIcon60x60@2x-708ca4a09ab43e576e2087afd4a6b590.png">
  <link rel="apple-touch-icon" sizes="76x76" href="http://s3.amazonaws.com/static.getouthouse.com/assets/icons/AppIcon76x76-6a2fe547a30f14944292c209cfae48d3.png">
  <link rel="apple-touch-icon" sizes="120x120" href="http://s3.amazonaws.com/static.getouthouse.com/assets/icons/AppIcon60x60@2x-708ca4a09ab43e576e2087afd4a6b590.png">
  <link rel="apple-touch-icon" sizes="152x152" href="http://s3.amazonaws.com/static.getouthouse.com/assets/icons/AppIcon76x76@2x-af61113ce82c104c6a3067b7e6246079.png">
  <link rel="shortcut icon" href="http://s3.amazonaws.com/static.getouthouse.com/assets/icons/AppIcon29x29@2x-ecc4f4ef8ed782b2728f616d73871243.png">

  <link rel="apple-touch-startup-image" href="http://s3.amazonaws.com/static.getouthouse.com/assets/loading/iphone-bbb6891200f49b4a119f83205f979ad5.png" />
	<link rel="apple-touch-startup-image" href="http://s3.amazonaws.com/static.getouthouse.com/assets/loading/iphone5-add668eb7f7e38a0ecd47822bd3ff2f0.png" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" />
  <link href="http://s3.amazonaws.com/static.getouthouse.com/assets/application-2bcbd7aa1f47617ce8a54e54f78408b0.css" media="all" rel="stylesheet" />
</head>

<body style="padding:0 0 20px 0 ;height:100%" class="selector-page" ng-app="Outhouse">


<div class="bkg"></div>


<div style="position:fixed; width:100%;height:100%;background-color:black; opacity:{{opacity.val}};"></div>


<div class="installer">
	<div style="font-size:32px;font-weight:bolder;text-align:center">Get Outhouse</div>

	<div style="font-size:24px;text-align:center">iPhone App</div>

	<img class="appicon" src="http://s3.amazonaws.com/static.getouthouse.com/assets/icons/AppIcon76x76@2x-af61113ce82c104c6a3067b7e6246079.png" />

	<div style="margin-top:30px;font-size:16px">
		Install by tapping the <img class="appicon" src="http://s3.amazonaws.com/static.getouthouse.com/assets/popout-b103a5a88a57ac218245210c90784dfd.png" style="margin-top:-10px" /> button,<br />and then tap "Add to Home Screen"
	</div>


	<div style="margin-top:50px;font-size:11px">
		<a href="#" onclick="$(this).closest('.installer').remove();">or continue to the web version</a>
	</div>
</div>

  <div class="container" style="padding:0px;" ng-view=""></div>



</body>
<script src="http://s3.amazonaws.com/static.getouthouse.com/assets/application-ff7932b188b8353a37f93d6c8f9393bd.js"></script>

<script type="text/ng-template" id="categories.html">

<div data-ng-controller="CategoriesController" class="cat-page">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-12 result-pane">

          <div class="headbar">
            <div class="back">
              <a href="/">
                Back
              </a>
            </div>

            <div class="title">
              Getting Outside
            </div>
          </div>

          <div class="result-wrap">

            <a href="/list">
              <div class="result">
                <div class="wrap">
                  <img src="http://www.ndparks.com/wp-content/uploads/2011/04/difference-hiking-shoes-hiking-boots.jpg" />
                  Take a hike
                </div>
              </div>

              <div class="result">
                <div class="wrap">
                  <img src="http://www.florida-daytonabeach.com/wp-content/uploads/2012/04/Beach3.jpg" />
                  Go to the beach
                </div>
              </div>

              <div class="result">
                <div class="wrap">
                  <img src="http://files.usmre.com/511/small_MG_8562.jpg" />
                  Play a sport
                </div>
              </div>
            </a>

          </div>

          

          
          
        </div>

      </div>



    </div> <!-- /container -->
</div>
</script>
<script type="text/ng-template" id="list.html">

<div data-ng-controller="EventsController" ng-init="findByCategory()" class="list-page">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-12 result-pane">

          <div class="headbar">
            <div class="back">
              <a href="/?time={{unixtime}}">
                Back
              </a>
            </div>

            <div class="title">
              {{ category }}
            </div>
          </div>



          <div class="result-wrap">

            <div data-ng-show="loaderVisible" class="bubblingG loader-push-top">
              <span id="bubblingG_1">
              </span>
              <span id="bubblingG_2">
              </span>
              <span id="bubblingG_3">
              </span>
            </div>

            <a href="/categories/{{ category }}/{{ event._id }}?time={{ unixtime }}" ng-repeat="event in events">

              <div class="res">
                <div class="wrapper">
                  <div class="thumb">
                    <img src="{{ event.image_url }}" />
                  </div>
                  <div class="info">
                    <div class="stack">
                      <div style="color:white" class="title">
                        {{ event.title }}
                      </div>
                    </div>
                    <div class="stack">
                      <div class="desc">
                        {{ event.description | characters:110 }}
                      </div>
                    </div>
                    <div class="stack">
                      <div style="color:white" class="dist">
                        <img src="http://s3.amazonaws.com/static.getouthouse.com/assets/compass-7cfcc9c123995e8fd8af09c5c4625b87.png" height="12px" />
                        {{ event.distance.toFixed(1) }} mi
                      </div>
                      <div style="color:white" class="time">
                        {{ event | relevantTimeRangeString: unixtime | stripSeconds }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="end"></div>
              </div>

            </a>

            <div class="end"></div>
          </div>








          <!-- /result wrap -->
          </div>

          
          
        </div>

      </div>



    </div> <!-- /container -->

</div>
</script>
<script type="text/ng-template" id="page.html">


<div data-ng-controller="EventsController" ng-init="findOne()" class="page-page">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-12 mainpage">

          <div class="headbar">
            <div class="back">
              <a href="/categories/{{ category }}?time={{ unixtime }}">
                Back
              </a>
            </div>

            <div class="title">
              <!-- Addison School -->
              {{ event.title }}
            </div>
          </div>


          <div class="prof-info">

            <!-- <div class="covimg" style="background:url(http://www.cablikenterprises.com/wp-content/uploads/2012/01/P1020440.jpg) center center "> -->
            <div class="covimg" style="background:url({{ event.image_url }});background-size: cover; background-position:center; ">
              <div class="time">
                <!-- Open 3pm - Sunset -->
                {{ event | relevantTimeRangeString: unixtime | stripSeconds }}
              </div>
            </div>

            <div class="wraps">

              <div class="map-section">
                <div class="gradient">
                  <div class="address">
                    <!-- 650 Addison Ave<br /> -->
                    <!-- Palo Alto, CA -->
                    {{ event.address }}
                  </div>
                  <div class="dist">
                    <img src="http://s3.amazonaws.com/static.getouthouse.com/assets/compass-7cfcc9c123995e8fd8af09c5c4625b87.png" style="height:10px" /> {{ event.distance.toFixed(2) }} mi<br />
                    <a href="{{ event.map_url }}" target="_blank">Go to map</a>
                  </div>
                </div>
              </div>



              <div class="desc">
                <!-- Addison is a local elementary school with basketball courts, a large field, and a playground. During the school year, the grounds are open after 3pm. -->
                {{ event.description }}
              </div>

            </div>

            <!-- <div class="foxhole">

              <h3>Highlight Reviews</h3>
              
              <div class="review">
                <div class="prof-img">
                  <img src="https://si0.twimg.com/profile_images/378800000516829145/5b5911a875f1d02a3978dbd577edbc55_bigger.jpeg" />
                </div>
                <div class="rev-data">
                  <div class="title">
                    Great basketball courts, watch for little kids
                  </div>
                  <div class="rating">
                    <span class="starred">&#x2605;&#x2605;&#x2605;&#x2605;</span>&#x2605; <span class="by">- reviewed by Eric S</span>
                  </div>

                  <div class="rev-text">
                    Almost pegged a kid in the dome while playing basketball; seriously watch out for those little fuckers.
                  </div>
                </div>
              </div>

              <div class="review">
                <div class="prof-img">
                  <img src="https://si0.twimg.com/profile_images/378800000516829145/5b5911a875f1d02a3978dbd577edbc55_bigger.jpeg" />
                </div>
                <div class="rev-data">
                  <div class="title">
                    Great basketball courts, watch for little kids
                  </div>
                  <div class="rating">
                    <span class="starred">&#x2605;&#x2605;&#x2605;&#x2605;</span>&#x2605; <span class="by">- reviewed by Eric S</span>
                  </div>

                  <div class="rev-text">
                    Almost pegged a kid in the dome while playing basketball; seriously watch out for those little fuckers.
                  </div>
                </div>
              </div>

              <div class="review">
                <div class="prof-img">
                  <img src="https://si0.twimg.com/profile_images/378800000516829145/5b5911a875f1d02a3978dbd577edbc55_bigger.jpeg" />
                </div>
                <div class="rev-data">
                  <div class="title">
                    Great basketball courts, watch for little kids
                  </div>
                  <div class="rating">
                    <span class="starred">&#x2605;&#x2605;&#x2605;&#x2605;</span>&#x2605; <span class="by">- reviewed by Eric S</span>
                  </div>

                  <div class="rev-text">
                    Almost pegged a kid in the dome while playing basketball; seriously watch out for those little fuckers.
                  </div>
                </div>
              </div>

            </div> -->
          
          <!-- prof-info -->
          </div>


        </div>

      </div>



    </div> <!-- /container -->
</div>
</script>
<script type="text/ng-template" id="main.html">


<div data-ng-controller="CategoriesController" ng-init="" style="padding:20px;" class="container">
  <div style="opacity:{{1}};padding:0px">
      <!-- Example row of columns -->

      <div class="row" style="margin-right:10px; margin-left:-15px; margin-top:-5px">
        <div class="col-lg-12 filter-heading">
          <div class="selector-wrap">
            <div class="reg">
              The time is
            </div>
          </div>

          <div class="selector-wrap" style="margin:0px">
            <div ng-model="mytime" ng-change="changed()" class="row" style="display:inline-block;">
              <div class="row tpick">
              <!-- Jake -->
                  <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                <div class="col-xs-5 col-lg-5">
                </div>
              </div>
            </div>

<!--             <div class="reg" ng-hide="datevisible" ng-click="datevisible=!datevisible">
              +
            </div>
            <div class="reg" ng-show="datevisible" ng-click="datevisible=!datevisible">
              -
            </div>
            <input ng-show="datevisible" value="{{ datestr() }}" type="date" ng-model="date"/> -->
          </div>


          <div class="selector-wrap" style="margin-top:-10px">
            <span class="reg">I'm in the mood for</span>
          </div>
          
        </div>

      </div>



      <div class="row">
        <div class="col-lg-12 squares-list">
          <ul style="list-style-type:none; padding:0; margin: 0">
            <li style="float:left;" ng-repeat="category in categories">
              <a href="categories/{{ category.title }}?time={{unixtime}}">
                <div class="square">

                    <div class="le-icon">
                      <img src="{{ category.img }}" />
                    </div>

                    <div class="le-text">
                      <span>{{ category.val }}</span>
                    </div>

                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>


  </div>
</div>






<div class="bottombox">
  <div class="logo">
    outhouse
  </div>

  <div class="invite">
    <a href="#">Invite friends (10 left)</a>
  </div>

</div>

</script>

</html>